<?xml version="1.0" encoding="UTF-8"?>
<!-- 以下の記載があることで、MyBatis専用のタグが使用できる -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapperタグでMapperインターフェースと紐づける -->
<mapper namespace="com.example.mapper.CarMapper">
    <!-- resultMapタグでテーブルのカラムとEntityのフィールドを紐づける -->
    <resultMap type="com.example.entity.Car" id="carmap">
        <!-- idタグで主キーとフィールドを紐づける -->
        <id column="ID" property="id"/>
        <!-- resultタグで主キー以外のカラムとフィールドを紐づける -->
        <result column="NAME" property="name"/>
        <result column="PASSENGERS" property="passengers"/>
        <association property="driver" javaType="com.example.entity.Driver">
            <id column="D_ID" property="id"/>
            <result column="D_NAME" property="name"/>
        </association>
    </resultMap>

    <!-- データを取得する時はselectタグを使用する -->
    <!-- id属性に紐づけるメソッド名を定義する -->
    <!-- resultMap属性にはメソッドの返り値となるEntityを定義する（返り値がListでも要素となるEntityを指定する） -->
    <select id="findAll" resultMap="carmap">
  		SELECT
    C.ID,
    C.NAME,
    C.PASSENGERS,
    D.ID AS D_ID,
    D.NAME AS D_NAME
FROM
    CARS C
INNER JOIN
    DRIVERS D
ON
    D.CAR_ID = C.ID
WHERE
            C.ID = #{car.id}
</select>
    <insert id="insert" useGeneratedKeys="true" keyColumn="ID" keyProperty="id">
        INSERT INTO CARS (ID, NAME,PASSENGERS) VALUES (CAR_ID_SEQ.nextval, #{name},#{passengers})
    </insert>
    <select id="findById" resultMap="carmap">
        SELECT * FROM CARS WHERE ID = #{id}
    </select>
 
 	<update id="update">
        UPDATE CARS SET NAME = #{name} WHERE ID = #{id}
    </update>
    <delete id="deleteById">
        DELETE FROM CARS WHERE ID = #{id}
    </delete>
</mapper>